<a href="https://colab.research.google.com/github/paulobressan/data-science/blob/master/Introdu%C3%A7%C3%A3o_a_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importando o pandas
import pandas as pd

In [0]:
# Importando um arquivo csv
notas = pd.read_csv('ratings.csv')

In [7]:
# Exibir os 5 primeiros registro do dataset importado
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
# Formato da tabela(Array)
notas.shape

(100836, 4)